[submodule "modules/etp_module_http"]
	path = modules/etp_module_http
	url = https://github.com/extrapid/etp_module_http.git
[submodule "modules/etp_module_rtmp"]
	path = modules/etp_module_rtmp
	url = https://github.com/extrapid/etp_module_rtmp.git
